@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/* Resetando folha de estilo */
* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

:root {
    --cor-azul: #33A8DB;
    --cor-cinza: #252525;
}

body {
    background-color: black;
    scroll-behavior: smooth;
}

h2 {
    color: var(--cor-azul);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
}


.banner {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, transparent, #33a8db40, transparent), url(../images/banner.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--cor-azul) 1px solid;
}

.banner-content {
    max-width: 510px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    gap: 24px;

    img {
        background-color: #0000005b;
        padding: 15px 5px;
        border-radius: 50%;
    }
}

.banner-content h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #33A8DB, #005479);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-azul);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 18px 32px;
    border: var(--cor-azul) 2px solid;
    transition: all ease-in-out 0.5s;
}

.banner-content button:hover {
    background-color: #33A8DB;
    color: #fff;
    cursor: pointer;
}

#course-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 792px;
    text-align: center;
    padding: 100px 0;
}

.module {
    padding: 16px;
    width: 530px;
    background-color: #252525;
    border-radius: 57px;
    border: var(--cor-azul) 2px solid;
    margin-bottom: 24px;
    box-shadow: inset 0px 7px 5px #00000081;
}

.module span {
    color: var(--cor-azul);
}

#transform-world {
    display: flex;
    align-items: center;
    width: 100%;
    height: 363px;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-top: var(--cor-azul) 1px solid;
    border-bottom: var(--cor-azul) 1px solid;
}

#transform-world p {
    width: 270px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    margin-left: 9%;
    text-shadow:
        1px 1px 0 var(--cor-azul),
        2px 2px 0 var(--cor-azul),
        3px 3px 0 var(--cor-azul),
        4px 4px 0 var(--cor-azul),
        5px 5px 1px var(--cor-azul),
        5px 5px 1px var(--cor-azul);
}

#professional-challenges {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}

#professional-challenges img {
    max-width: 100%;
    margin: 24px 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #33a8db40, #00000000);
    border-top: var(--cor-azul) 1px solid;
    height: 170px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: var(--cor-azul);
    }
}